@charset "UTF-8";
/* ===================== Variaveis ===================== */
/* ===================== Mixins ===================== */
/* ===================== Responsividade ===================== */
@media (min-width: 1024px) and (max-width: 1919px) {
  .containerr {
    width: 100%; }

  .header-itens {
    width: 88% !important; }

  .menu {
    width: 100% !important;
    justify-content: space-between !important;
    padding-left: 18px !important; }
    .menu .icons {
      padding-right: 20px; }

  .div-breadcrumb {
    top: 13% !important; }

  .product-list {
    margin-top: 9% !important;
    width: 30% !important;
    display: none !important; }

  .product-nav {
    width: 80% !important; }

  .filter {
    padding-left: 17px !important; }

  .resultPage-block {
    width: 21%;
    position: absolute;
    display: flex;
    justify-content: center; }

  .main-block {
    width: 94% !important;
    margin-top: 25px !important;
    padding-right: 20px; }

  .card--img img {
    width: 50%; }

  .items {
    width: 97% !important; }

  .items--card {
    width: 20% !important; }

  .main--pagination {
    width: 111% !important; }

  .footer {
    width: 97% !important;
    margin-left: 18px !important; } }
/* ===================== In├¡cio do css ===================== */
body {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/* ===================== In├¡cio do header ===================== */
.header-block {
  display: flex; }

.header-itens {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1; }

.menu-container {
  display: flex;
  justify-content: space-between;
  width: 30%; }

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px; }
  .menu .menu-submenu--item {
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    color: #111;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 20px;
    width: 155%; }
  .menu a {
    color: #111; }

.menu-img {
  z-index: 1; }

.search-btn,
.location-btn,
.account-icon,
.bag-icon {
  border: none;
  background-color: #ffffff;
  border: none;
  outline: none; }

.icons {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.search-btn,
.icons {
  padding-top: 10px; }

.logo {
  width: 112px;
  padding-top: 10px; }

.icon-search {
  font-size: 25px; }

.icon-user,
.icon-placeholder,
.icon-shopping-bag {
  font-size: 20px; }

.icon-control {
  font-size: 17px;
  padding-right: 10px; }

.line--item {
  height: 20px;
  border: 1px solid;
  margin: 0 10px; }

/* ===================== In├¡cio do breadcrumb =====================  */
.resultPage-block {
  width: 21%;
  position: absolute;
  display: flex;
  justify-content: center; }

.breadcrumb {
  display: flex;
  font-size: 12px; }
  .breadcrumb a {
    color: #767676; }

.breadcrumb--line,
.breadcrumb--item {
  padding-right: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

.breadcrumb--item :not(#polos) {
  text-decoration: underline; }

/* ===================== In├¡cio do box polo ===================== */
.product-list--title {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 1.6px;
  line-height: 39px; }

.product--list {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px; }

.product-list--item {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 20px; }

.product-list {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 192px;
  margin-top: 5%; }

.div-product {
  width: 68%;
  text-align: end;
  margin-bottom: 5%; }

.product-nav {
  display: flex;
  width: 97%;
  justify-content: space-evenly; }
  .product-nav > ul > li {
    margin-bottom: 8%; }

.filter {
  height: 210px;
  width: 17%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.filter-btn {
  height: 35px;
  width: 250px;
  border-radius: 30px;
  border: 1px solid #58006d;
  outline: none;
  color: #58006d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.93px;
  line-height: 17px;
  background: #FFF; }
  .filter-btn img {
    vertical-align: bottom; }

/* ===================== In├¡cio do slick ===================== */
/* ===================== In├¡cio do main ===================== */
.items {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.main-block {
  width: 87%;
  margin-left: 85px;
  margin-right: 86px;
  margin-top: 25px; }

.main--results {
  color: #111111;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 15px;
  margin-bottom: 15px; }

.items--card {
  height: 500px;
  width: 312px; }
  .items--card p {
    color: #111111;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 5px; }
  .items--card .old--price {
    color: #767676;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: line-through; }
  .items--card .new--price {
    color: #58006d;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; }

.discount {
  margin-left: 2px;
  margin-top: 5px; }

.card--img {
  position: relative; }
  .card--img .card {
    position: absolute;
    overflow: hidden;
    transition: 200ms linear;
    cursor: pointer; }
  .card--img .card:hover {
    opacity: 0; }

.btn--card {
  border: none;
  outline: none;
  background: #ffffff;
  padding-left: 0px;
  margin-top: 15px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  height: 35px;
  width: 312px;
  border-radius: 30px;
  border: 1px solid #58006d;
  color: #58006d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px; }

.items--card:hover .btn--card {
  opacity: 1;
  cursor: pointer;
  transition: 200ms linear; }

.btn--card:hover,
.filter-btn:hover,
.slider--btn:hover,
.sec-slider--btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: 200ms linear;
  background: #58006d;
  color: #ffffff; }

.main--pagination {
  height: 39px;
  width: 94%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  align-items: center; }
  .main--pagination ul {
    display: flex;
    justify-content: space-between;
    width: 359px; }
    .main--pagination ul li {
      height: 27px;
      width: 30px;
      background-color: #58006d;
      border-radius: 14px;
      padding-top: 2px;
      text-align: center; }
      .main--pagination ul li a {
        color: #EEE;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        vertical-align: sub;
        font-weight: 700; }
    .main--pagination ul p {
      color: #111;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      align-self: center; }

.icon-left-arow,
.icon-righ-arow {
  font-size: 30px; }

/* ===================== Inicio do Footer ===================== */
.footer {
  display: flex;
  margin-top: 5%;
  height: 422px;
  width: 92%;
  margin-bottom: 10%;
  /* align-items: baseline; */
  margin-left: 5%;
  flex-direction: column; }

.footer--content {
  width: 58%; }

.promo {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 27px; }

.newsletter--form {
  height: 45px;
  width: 510px;
  border-radius: 30px;
  background-color: #FFF;
  display: flex;
  margin-bottom: 5%;
  margin-top: 5%; }

.email {
  height: 45px;
  width: 510px;
  border-radius: 30px;
  background-color: #FFF;
  border: none;
  color: #767676;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: italic; }

.btn {
  height: 45px;
  width: 155px;
  border-radius: 30px;
  background-color: #58006d;
  border: 1px solid #58006d;
  color: #EEE;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  line-height: 20px;
  font-weight: normal; }

.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-youtube,
.icon-linkedin {
  color: #58006d; }

.btn:hover {
  background-color: #ffffff;
  color: #58006d; }

.social-media--icons {
  height: 26px;
  width: 189px;
  display: flex;
  justify-content: space-between;
  color: #58006d;
  font-size: 25px; }

.nav--content {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.footer--nav {
  display: flex;
  justify-content: space-between;
  width: 51%; }
  .footer--nav h5 {
    color: #111;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700; }
  .footer--nav a {
    color: #111;
    font-family: "Montserrat", sans-serif;
    font-size: 12px; }

.help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 192px; }

.shippment {
  height: 280px;
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .shippment .shippment-options {
    height: 112px;
    width: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.payment {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.text {
  color: #767676;
  font-family: Montserrat;
  font-size: 14px;
  font-style: italic;
  line-height: 17px;
  margin-top: 10px; }

.submenu {
  overflow: hidden;
  transition: 200ms linear;
  cursor: pointer;
  position: absolute;
  top: 60%;
  background: white;
  display: flex;
  width: 100%;
  height: 455px;
  justify-content: space-around;
  left: 0%; }
  .submenu .submenu-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 44%;
    background-color: #ffffff;
    padding-left: 103px; }
    .submenu .submenu-content .category {
      height: 17px;
      color: #111;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: bolder;
      line-height: 17px;
      width: 22%;
      margin-top: 50px;
      margin-left: 9%;
      margin-right: 9%; }
    .submenu .submenu-content .products {
      color: #767676;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: initial;
      letter-spacing: 0.8px;
      line-height: 20px;
      margin-top: 20px; }

.products--clothes {
  display: flex;
  flex-direction: column;
  height: 329px;
  justify-content: space-between;
  margin-top: 10px;
  width: 155px; }

.products--sneakers {
  display: flex;
  flex-direction: column;
  height: 53px;
  justify-content: space-between;
  margin-top: 10px; }

.products--accessories {
  display: flex;
  flex-direction: column;
  height: 155px;
  justify-content: space-between;
  margin-top: 10px; }

.products--category {
  height: 225px;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: end;
  width: 345px; }
  .products--category li {
    margin: 0 5px; }

.classic,
.slim,
.summer,
.zero {
  box-sizing: border-box;
  height: 35px;
  width: 126px;
  border-radius: 30px;
  background-color: #FFF;
  border: 1px solid #767676;
  padding-top: 7px; }

.socks {
  box-sizing: border-box;
  height: 35px;
  width: 58px;
  border-radius: 30px;
  background-color: #FFF;
  border: 1px solid #767676;
  padding-top: 7px; }

.surf {
  box-sizing: border-box;
  height: 35px;
  width: 113px;
  border-radius: 30px;
  background-color: #FFF;
  border: 1px solid #767676;
  padding-top: 7px; }

.mini {
  box-sizing: border-box;
  height: 35px;
  width: 74px;
  border-radius: 30px;
  background-color: #FFF;
  border: 1px solid #767676;
  padding-top: 7px; }

.submenu-content,
.submenu {
  display: none; }

.menu-submenu--item:hover .submenu {
  display: inline-flex;
  height: 1120px;
  background-color: rgba(0, 0, 0, 0.5); }

.menu-submenu--item > a:after {
  display: block;
  content: '';
  border-bottom: solid 1px #58006d;
  transform: scaleY(0);
  transition: 200ms linear;
  width: 65%; }

.menu-submenu--item a:hover:after {
  transform: scaleY(4); }
.menu-submenu--item a.fromBottom:after {
  transform-origin: 0 0 0 100%; }

/*# sourceMappingURL=main.css.map */
