@charset "UTF-8";
/* ===================== Variaveis ===================== */
/* ===================== Mixins ===================== */
/* ===================== Responsividade ===================== */
@media (min-width: 1024px) and (max-width: 1919px) {
  html {
    width: 95% !important; }

  .containerr {
    width: 100% !important; }

  .header--block {
    width: 95% !important; }

  .header__menu {
    width: 100% !important;
    justify-content: space-between !important;
    padding-left: 18px !important; }
    .header__menu .icons {
      padding-right: 20px; }
    .header__menu .menu__submenu--item {
      font-size: 15px !important; }

  .icon-search {
    font-size: 23px !important; }

  .logo {
    width: 90px !important; }

  .div-breadcrumb {
    top: 13% !important; }

  .menu__container {
    width: 63% !important; }
    .menu__container .menu__submenu--content {
      width: 106% !important;
      padding-bottom: 10px !important; }
      .menu__container .menu__submenu--content .menu--category {
        font-size: 11px !important;
        line-height: 15px !important;
        width: 152px !important;
        margin-right: 60px !important;
        padding-top: 20px !important;
        margin-left: 0;
        margin-top: 0; }

  .menu--products {
    margin-top: 0 !important;
    font-size: 10px !important; }

  .menu__products--clothes {
    height: 215px !important; }

  .menu__products--category {
    width: 247px !important; }
    .menu__products--category li {
      font-size: 10px !important; }

  .classic,
  .slim,
  .summer,
  .zero,
  .surf,
  .mini,
  .socks {
    height: 26px !important;
    width: 102px !important;
    margin-bottom: 10px !important; }

  .carousel {
    transform: translate3d(11px, 0px, 0px) !important; }

  .img,
  .first__slider {
    height: 40vh !important; }

  .first__slider .slider__content {
    top: 17% !important; }
  .first__slider p {
    font-size: 14px !important; }
  .first__slider h5 {
    font-size: 10px !important;
    margin-top: 15px !important; }
  .first__slider button {
    margin-top: 0px !important;
    height: 35px !important;
    width: 145px !important;
    font-size: 10px !important; }

  .sec-slider--content p {
    font-size: 15px !important;
    top: 18% !important; }
  .sec-slider--content h5 {
    margin-top: 17px !important;
    font-size: 12px !important; }
  .sec-slider--content button {
    margin-top: 41px !important;
    height: 35px !important;
    width: 145px !important;
    font-size: 10px !important; }

  .slick-list .draggable {
    height: 240px !important; }

  .slick-dots {
    top: 217px !important; }

  .product__container {
    display: flex;
    /* width: 100%; */
    height: 500px !important;
    justify-content: space-around; }

  .product__list {
    margin-top: -7% !important;
    width: 24% !important;
    position: absolute !important;
    top: 25% !important;
    left: 3% !important;
    width: 30% !important; }

  .div__product {
    width: 100% !important;
    text-align: left !important; }
    .div__product a {
      font-size: 20px !important; }

  .product__nav {
    width: 100% !important;
    height: 145px !important;
    margin-right: 0px !important;
    justify-content: space-between !important;
    padding: 0 !important; }
    .product__nav a {
      font-size: 12px !important; }

  .filter {
    padding-left: 17px !important; }

  .product__btn {
    padding-left: 0 !important; }
    .product__btn .filter__btn {
      height: 35px !important;
      width: 196px !important;
      font-size: 12px !important; }

  .filter__modal {
    width: 992px !important;
    left: -15px !important;
    top: -145px !important; }

  .product {
    height: 69vh !important; }

  .search__modal {
    width: 104% !important; }

  .resultPage {
    width: 21%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 11% !important;
    right: 75% !important; }

  .main--block {
    width: 92% !important;
    margin-top: 25px !important;
    margin-left: 18px !important; }

  .main__results {
    margin-bottom: 20px !important; }

  .card--img img {
    width: 60%; }

  .btn--card {
    width: 82% !important;
    font-size: 12px !important; }

  .items {
    margin-left: 50px !important; }

  .items--card {
    width: 20% !important;
    height: 270px !important; }

  .card--btn {
    top: 220px !important;
    width: 100% !important; }

  .main__pagination {
    width: 111% !important; }
    .main__pagination ul {
      width: 359px !important; }
      .main__pagination ul li {
        height: 20px !important;
        width: 25px !important; }
    .main__pagination a {
      font-size: 13px !important;
      vertical-align: baseline !important; }

  .footer--block {
    width: 100% !important; }

  .footer__content {
    width: 99% !important; }

  .promo {
    font-size: 15px !important; }

  .newsletter__block {
    width: 30% !important; }

  .newsletter__form {
    width: 287px !important; }

  .footer__btn {
    height: 38px !important;
    font-size: 13px !important; }

  .footer__nav {
    width: 80% !important;
    padding-left: 0 !important; }
    .footer__nav h5 {
      font-size: 14px !important; }
    .footer__nav a {
      font-size: 10px !important; }

  .footer__text {
    font-size: 10px !important; } }
/* ===================== In├¡cio do css ===================== */
body {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/* ===================== In├¡cio do header ===================== */
.header--block {
  position: fixed;
  width: 95%;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  justify-content: space-around; }

.menu__container {
  display: flex;
  justify-content: space-between;
  width: 40%; }

.header__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 91%; }
  .header__menu .menu__submenu--item {
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    color: #111;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 20px;
    width: 185%;
    transition: 200ms linear; }
  .header__menu a {
    color: #111; }

.menu__img,
.search__btn {
  z-index: 1; }

.search__btn,
.location__btn,
.account__btn,
.icon__btn {
  border: none;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer; }

.icon__btn {
  padding-bottom: 13px; }

.account__btn {
  padding-right: 30px; }

.icons {
  width: 10%;
  display: flex;
  justify-content: space-around; }

.search__btn,
.icons {
  padding-top: 16px; }

.logo {
  width: 112px;
  padding-top: 14px; }

.icon-search {
  font-size: 28px; }

.icon-user,
.icon-placeholder,
.icon-shopping-bag {
  font-size: 20px; }

.icon-control {
  font-size: 17px;
  padding-right: 10px; }

.icon__line {
  height: 20px;
  border: 1px solid;
  margin: 0 10px; }

/* ===================== In├¡cio do breadcrumb =====================  */
.resultPage {
  width: 22%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 9%; }

.breadcrumb {
  display: flex;
  font-size: 12px; }
  .breadcrumb a {
    color: #767676; }

.breadcrumb__line,
.breadcrumb__item {
  padding-right: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

.breadcrumb__item :not(#polos) {
  text-decoration: underline; }

/* ===================== In├¡cio do box polo ===================== */
.product--title {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 1.6px;
  line-height: 39px; }

.product--list {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  width: 39%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 8%; }

.product__list--item {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 20px; }

.product__list {
  margin-top: 7%;
  width: 24%; }

.div__product {
  width: 76%;
  text-align: end; }

.product__nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 263px;
  align-items: baseline;
  padding-left: 20px;
  padding-top: 38px; }
  .product__nav > ul > li {
    margin-bottom: 8%;
    height: 25px; }

.filter__modal {
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 1563px;
  position: absolute;
  z-index: 1;
  top: 7%;
  background-color: rgba(17, 17, 17, 0.15); }

.filter__close {
  position: absolute;
  right: 3%;
  top: 1%;
  font-size: 21px;
  cursor: pointer; }

.filters {
  height: 100%;
  width: 45%;
  background-color: #FFF;
  position: absolute;
  right: 55%;
  display: flex;
  flex-direction: column; }

.product__btn {
  padding-left: 83px; }

.filter__options {
  display: flex;
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  width: 300px;
  align-self: center;
  margin-top: 10%; }

.filter__clear {
  display: flex;
  width: 73%;
  padding-left: 50px;
  justify-content: space-between;
  margin-top: 13%; }

.modal__btn {
  box-sizing: border-box;
  height: 37px;
  width: 185px;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: #FFF;
  border: 1px solid #58006D;
  color: #58006D;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  padding-left: 6px; }

.filter__clean {
  color: #111;
  font-family: Montserrat;
  font-size: 17px;
  line-height: 17px;
  width: 112px;
  cursor: pointer;
  text-decoration: underline; }

.filter__select {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 50px;
  height: 130px;
  justify-content: space-between; }
  .filter__select h6 {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px; }
  .filter__select span {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    width: 54%; }
  .filter__select input {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    background-color: #FFF;
    border: 1px solid #111; }

.most__sell,
.highest__price,
.lower__price {
  display: flex;
  justify-content: space-between; }
  .most__sell input,
  .highest__price input,
  .lower__price input {
    cursor: pointer; }

.most__sell,
.highest__price {
  padding-right: 8px; }

.lower__price {
  margin-right: 22%; }

.filter__btn {
  height: 35px;
  width: 250px;
  border-radius: 30px;
  border: 1px solid #58006d;
  outline: none;
  color: #58006d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.93px;
  line-height: 17px;
  background: #FFF; }
  .filter__btn img {
    vertical-align: bottom; }

.filter__colors {
  padding-left: 50px; }
  .filter__colors h6 {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    padding-top: 50px;
    padding-bottom: 20px; }
  .filter__colors input {
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    border-radius: 69px;
    -webkit-appearance: none;
    padding-left: 3px;
    padding-bottom: 26px; }
  .filter__colors input[type="checkbox"]:checked:before {
    content: '\2713';
    text-align: center;
    color: black;
    font-size: 19px;
    font-weight: bolder;
    vertical-align: super; }

.filter__colors--one {
  background: #F36;
  cursor: pointer;
  outline: none; }

.filter__colors--two {
  background: #33E1FF;
  cursor: pointer;
  outline: none; }

.filter__colors--three {
  background: #39F;
  cursor: pointer;
  outline: none; }

.filter__colors--four {
  background: #2AC940;
  cursor: pointer;
  outline: none; }

.filter__colors--five {
  background: #FA9917;
  cursor: pointer;
  outline: none; }

.filter__colors--six {
  background: #FF5F58;
  cursor: pointer;
  outline: none; }

.filter__colors--seven {
  background: #FFF;
  cursor: pointer;
  outline: none; }

.filter__colors--eight {
  background: #F2F2F2;
  cursor: pointer;
  outline: none; }

.filter__colors--nine {
  background: #BDBDBD;
  cursor: pointer;
  outline: none; }

.filter__colors--ten {
  background: #4F4F4F;
  cursor: pointer;
  outline: none; }

.filter__colors--eleven {
  background: #000;
  cursor: pointer;
  outline: none; }

.filter__colors--twelve {
  background: #1C029B;
  cursor: pointer;
  outline: none; }

.filter__colors--thirteen {
  background: #F36;
  cursor: pointer;
  outline: none; }

.filter__colors--fourteen {
  background-color: #FB00CB;
  cursor: pointer;
  outline: none; }

.filter__colors--fifteen {
  background: #F467EA;
  cursor: pointer;
  outline: none; }

.filter__colors--sexteen {
  background: #F36;
  cursor: pointer;
  outline: none; }

.filter__size {
  padding-left: 50px;
  padding-top: 50px;
  width: 73%;
  display: block; }
  .filter__size h4 {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    padding-bottom: 20px; }
  .filter__size div {
    display: flex;
    justify-content: space-between; }
  .filter__size span {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px; }
  .filter__size input {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #FFF;
    border: 1px solid #767676;
    cursor: pointer; }

.size__pp {
  margin-top: 15px; }
  .size__pp span {
    width: 96%;
    padding-bottom: 20px; }

.size___p span {
  width: 96%;
  padding-bottom: 20px; }

.size__m span {
  padding-bottom: 20px; }

.size__g span {
  padding-bottom: 20px; }

.size,
.material,
.collection {
  transform: rotate(270deg);
  background-color: black;
  width: 20px;
  height: 30px;
  padding-right: 5px; }

.icon-down-arow {
  margin-top: 45px;
  font-size: 25px;
  cursor: pointer; }

.icon-up-arow {
  transform: rotate(180deg);
  font-size: 25px;
  margin-bottom: 10px;
  cursor: pointer; }

.filter__materials,
.filter__colection {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  padding-top: 50px; }

/* ===================== In├¡cio do slick ===================== */
.carousel__block {
  display: flex;
  place-items: flex-end;
  width: 92% !important;
  height: 360px !important;
  position: absolute; }

.container__carousel {
  width: 100%;
  height: 274px; }

.slick-list,
.draggable {
  width: 56% !important;
  height: 427px !important;
  float: right !important; }

.carousel {
  transform: translate3d(-126px, 0px, 0px); }

.carousel--img {
  width: 1114px; }

.img {
  width: 100%;
  height: 425px;
  outline: none !important;
  transition: 3s linear; }

.slick-track {
  opacity: 1;
  width: 5570px;
  transform: translate3d(-1114px, 0px, 0px); }

.slick-dots {
  display: flex !important;
  top: 385px !important;
  left: 68% !important;
  width: 18% !important; }
  .slick-dots li button::before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: none !important;
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased; }

.slick-active #slick-slide-control00,
.slick-active #slick-slide-control01 {
  color: transparent;
  border-radius: 100%;
  border: none;
  margin-right: 5px;
  height: 12px;
  width: 1px;
  border: 1px solid #eeeeee;
  background: #eeeeee; }

#slick-slide-control00,
#slick-slide-control01 {
  color: transparent;
  border-radius: 100%;
  border: none;
  margin-right: 5px;
  height: 12px;
  width: 1px;
  border: 1px solid #7a7c7f;
  background: #7a7c7f; }

.slick-dotted.slick-slider {
  margin-bottom: 4% !important; }

.icon-left-arow,
.icon-righ-arow {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 447px;
  color: #FFF;
  font-size: 35px; }

.icon-left-arow {
  left: 85%; }

.icon-righ-arow {
  left: 89%; }

.sec-slider--content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  right: 0%;
  background: linear-gradient(to right, #000 7%, rgba(255, 255, 255, 0) 106%); }
  .sec-slider--content p {
    color: #eeeeee;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 24px;
    height: 60.57px;
    width: 200px;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 4%;
    text-transform: uppercase; }
  .sec-slider--content h5 {
    color: #eeeeee;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 17px;
    font-weight: lighter;
    margin-top: 8px;
    margin-bottom: 10px;
    height: 45px;
    width: 200px;
    position: absolute;
    top: 41%;
    left: 4%; }
  .sec-slider--content button {
    border: none;
    outline: none;
    padding: 0;
    margin-right: 32px;
    margin-top: 20px;
    height: 35px;
    width: 225px;
    border: none;
    border-radius: 30px;
    background-color: #eeeeee;
    font-family: "Montserrat", sans-serif;
    color: #58006d;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 0.8px;
    line-height: 15px;
    position: absolute;
    top: 57%;
    left: 4%; }

.first__slider {
  position: absolute;
  left: 42%;
  bottom: 21%;
  z-index: 2;
  background: linear-gradient(to right, #000 -5%, rgba(255, 255, 255, 0) 145%);
  height: 425px;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%; }
  .first__slider .slider__content {
    position: absolute;
    top: 25%;
    left: 4%; }
  .first__slider p {
    color: #EEE;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 25px;
    height: 60.57px;
    width: 200px;
    text-transform: uppercase; }
  .first__slider h5 {
    color: #EEE;
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 15px;
    height: 30px;
    width: 200px;
    margin-bottom: 31px;
    margin-top: 15px;
    font-weight: lighter; }
  .first__slider button {
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #EEE;
    height: 35px;
    width: 225px;
    color: #58006D;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 19px; }

/* ===================== In├¡cio do main ===================== */
.items {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.main--block {
  width: 87%;
  margin-left: 85px;
  margin-right: 86px;
  margin-top: 35px; }

.main__results {
  color: #111111;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 15px;
  margin-bottom: 15px; }

.items--card {
  height: 500px;
  width: 312px; }
  .items--card p {
    color: #111111;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 5px; }
  .items--card .old--price {
    color: #767676;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: line-through; }
  .items--card .new--price {
    color: #58006d;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; }

.items--discount {
  margin-left: 2px;
  margin-top: 5px; }

.card--img {
  position: relative;
  margin-bottom: 25px; }
  .card--img .card {
    position: absolute;
    overflow: hidden;
    transition: 200ms linear;
    cursor: pointer; }
  .card--img .card:hover {
    opacity: 0; }

.card--btn {
  position: absolute;
  top: 408px; }

.btn--card {
  border: none;
  outline: none;
  background: #ffffff;
  padding-left: 0px;
  margin-top: 15px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  height: 35px;
  width: 312px;
  border-radius: 30px;
  border: 1px solid #58006d;
  color: #58006d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px; }

.items--card:hover .btn--card {
  opacity: 1;
  cursor: pointer;
  transition: 200ms linear; }

.btn--card:hover,
.filter__btn:hover,
.slider--btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: 200ms linear;
  background: #58006d;
  color: #ffffff; }

.main__pagination {
  height: 39px;
  width: 94%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  align-items: center; }
  .main__pagination ul {
    display: flex;
    justify-content: space-between;
    width: 359px; }
    .main__pagination ul .left__arrow,
    .main__pagination ul .right__arrow {
      font-size: 30px !important; }
    .main__pagination ul li {
      height: 27px;
      width: 30px;
      background-color: #58006d;
      border-radius: 14px;
      padding-top: 2px;
      text-align: center; }
      .main__pagination ul li a {
        color: #EEE;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        vertical-align: sub;
        font-weight: 700; }
    .main__pagination ul p {
      color: #111;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      align-self: center; }

/* ===================== Inicio do Footer ===================== */
.footer--block {
  display: flex;
  margin-top: 5%;
  height: 410px;
  width: 95%;
  /* align-items: baseline; */
  margin-left: 5%;
  flex-direction: column; }

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 310px; }

.promo {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 27px; }

.newsletter__block {
  width: 38%; }

.newsletter__form {
  height: 45px;
  width: 510px;
  border-radius: 30px;
  background-color: #FFF;
  display: flex;
  margin-bottom: 5%;
  margin-top: 5%; }

.email {
  height: 45px;
  width: 510px;
  border-radius: 30px;
  background-color: #FFF;
  border: none;
  color: #767676;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: italic; }

.footer__btn {
  height: 45px;
  width: 155px;
  border-radius: 30px;
  background-color: #58006d;
  border: 1px solid #58006d;
  color: #EEE;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  line-height: 20px;
  font-weight: normal;
  cursor: pointer; }

.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-youtube,
.icon-linkedin {
  color: #58006d; }

.btn:hover {
  background-color: #ffffff;
  color: #58006d; }

.footer__socialmedia {
  height: 26px;
  width: 189px;
  display: flex;
  justify-content: space-between;
  color: #58006d;
  font-size: 25px; }

.footer__content {
  width: 90%;
  display: flex;
  justify-content: space-around; }

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 65%; }
  .footer__nav h5 {
    color: #111;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700; }
  .footer__nav a {
    color: #111;
    font-family: "Montserrat", sans-serif;
    font-size: 12px; }

.footer__help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 192px; }

.footer__shippment {
  height: 280px;
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .footer__shippment .shippment-options {
    height: 112px;
    width: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.footer__payment {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.footer__text {
  color: #767676;
  font-family: Montserrat;
  font-size: 14px;
  font-style: italic;
  line-height: 17px;
  margin-top: 30px;
  text-align: center; }

/* ===================== Submenu do hover ===================== */
.menu__submenu {
  overflow: hidden;
  transition: 200ms linear;
  cursor: pointer;
  position: absolute;
  top: 60%;
  background: white;
  width: 106%;
  justify-content: space-around;
  left: 0%; }

.menu__submenu--content {
  display: none;
  transition: 200ms linear;
  cursor: pointer;
  position: absolute;
  background: white;
  width: 106%;
  height: 45vh;
  justify-content: space-around;
  left: 0%; }
  .menu__submenu--content:hover {
    display: flex; }
  .menu__submenu--content .menu--category {
    height: 17px;
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bolder;
    line-height: 17px;
    width: 22%;
    margin-top: 50px;
    margin-left: 9%;
    margin-right: 180px; }
  .menu__submenu--content .menu--products {
    color: #767676;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: initial;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin-top: 20px;
    width: 148px; }

.menu__products--clothes {
  display: flex;
  flex-direction: column;
  height: 329px;
  justify-content: space-between;
  margin-top: 10px;
  width: 155px; }

.menu__products--sneakers {
  display: flex;
  flex-direction: column;
  height: 53px;
  justify-content: space-between;
  margin-top: 10px; }

.menu__products--accessories {
  display: flex;
  flex-direction: column;
  height: 155px;
  justify-content: space-between;
  margin-top: 10px; }

.menu__products--category {
  height: 130px;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: end;
  width: 345px; }
  .menu__products--category li {
    margin: 0 5px; }

.classic,
.slim,
.summer,
.zero {
  box-sizing: border-box;
  height: 35px;
  width: 126px;
  border-radius: 30px;
  background-color: #FFF;
  border: 1px solid #767676;
  padding-top: 7px; }

.socks {
  box-sizing: border-box;
  height: 35px;
  width: 58px;
  border-radius: 30px;
  background-color: #FFF;
  border: 1px solid #767676;
  padding-top: 7px; }

.surf {
  box-sizing: border-box;
  height: 35px;
  width: 113px;
  border-radius: 30px;
  background-color: #FFF;
  border: 1px solid #767676;
  padding-top: 7px; }

.mini {
  box-sizing: border-box;
  height: 35px;
  width: 74px;
  border-radius: 30px;
  background-color: #FFF;
  border: 1px solid #767676;
  padding-top: 7px; }

.menu__submenu--item:hover .menu__submenu--content {
  display: flex; }

.menu__submenu {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 1200ms linear;
  display: none; }

.menu__submenu--item:hover .menu__submenu {
  display: inline-flex; }
  .menu__submenu--item:hover .menu__submenu:hover {
    display: none; }

.menu__submenu--item > a:after {
  display: block;
  content: '';
  border-bottom: solid 1px #58006d;
  transform: scaleY(0);
  transition: 200ms linear;
  width: 55%; }

.menu__submenu--item a:hover:after {
  transform: scaleY(4); }
.menu__submenu--item a.fromBottom:after {
  transform-origin: 0 0 0 100%; }

.product__container {
  display: flex;
  width: 100%;
  height: 512px; }

.icon__hover {
  display: none;
  width: 100vh;
  height: 100vh; }

.search__modal {
  position: absolute;
  top: 53%;
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.3);
  display: none;
  flex-direction: column;
  z-index: -9999; }

.product {
  height: 90vh;
  background: #ffffff; }

.search__form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 57px; }
  .search__form input {
    height: 73px;
    width: 55%;
    color: #EEE;
    font-family: Montserrat;
    font-size: 60px;
    line-height: 73px;
    border: none;
    outline: none;
    border-bottom: 1px solid #58006D;
    width: 74%;
    color: #000; }

.close__btn {
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  text-align-last: end;
  padding-top: 30px;
  font-size: 25px;
  width: 37px;
  align-self: flex-end; }

.search__results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 91%; }
  .search__results .form__products {
    height: 17px;
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between; }
  .search__results h6 {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 10px; }
  .search__results .product__found {
    margin-top: 15px; }
  .search__results .search__result {
    border: none; }
  .search__results .suggestion__btn {
    box-sizing: border-box;
    height: 35px;
    width: 162px;
    border-radius: 30px;
    background-color: #FFF;
    border: 1px solid #58006D;
    color: #58006D;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer; }

.search {
  display: flex;
  justify-content: space-between;
  width: 27%; }

.search__suggestion {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 50%; }
  .search__suggestion span {
    margin-top: 10px;
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px; }

.card__results {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 97%; }

.bag__container {
  width: 111%;
  height: 100vh;
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  padding-left: 98px;
  background: white; }
  .bag__container .bag__modal {
    width: 49%;
    height: 100vh;
    position: absolute;
    margin-left: 58px;
    background-color: rgba(17, 17, 17, 0.15); }
  .bag__container h3 {
    color: #111;
    font-family: Montserrat;
    font-size: 50px;
    line-height: 61px;
    display: none; }
  .bag__container .buy__btn {
    height: 35px;
    width: 217.58px;
    border-radius: 30px;
    background-color: #58006D;
    position: absolute;
    color: #EEE;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    border: none;
    outline: none;
    cursor: pointer; }

.bag__products {
  width: 35%;
  background: #FFF;
  position: absolute;
  left: 55%;
  height: 100vh; }
  .bag__products h4,
  .bag__products span {
    color: #111;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 50px; }

.bag__total {
  display: flex;
  justify-content: space-between;
  width: 65%;
  position: absolute;
  top: 42%;
  right: 25%; }

.finish__btn {
  position: absolute;
  top: 47%;
  right: 90%; }

/*# sourceMappingURL=main.css.map */
