/* ===================== Variaveis ===================== */

$font-color-standart: #111;
$font-standart: 'Montserrat',
sans-serif;
$font-size: 16px;
$letter-spacing: (0.8px);
$line-height: 20px;
$flex: flex;
$around: space-around;
$between: space-between;
$dark-ish-white: #eeeeee;
$white: #ffffff;
$grey: #767676;
$black: #111111;
$thanos: #58006d;
$position: absolute;

/* ===================== Mixins ===================== */

@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin button {
    border: none;
    outline: none;
}

/* ===================== Responsividade ===================== */

@media(min-width:1024px) and (max-width: 1919px) {

    .containerr {
        width: 100%;
    }

    .header-itens {
        width: 88% !important;
    }

    .menu {
        width: 100% !important;
        justify-content: space-between !important;
        padding-left: 18px !important;

        .icons {
            padding-right: 20px;
        }
    }

    .div-breadcrumb {
        top: 13% !important;
    }

    .carousel {
        transform: translate3d(-250px, 0px, 0px);
    }

    .carousel-block {
        width: 98% !important;
        height: 420px !important;
    }

    .carousel,
    .slick-initialized,
    .slick-slider,
    .slick-dotted {
        width: 112% !important;
        right: 3% !important;
    }

    .carousel-img,
    .slick-slide,
    .slick-current,
    .slick-active {
        width: 1053px;
        position: relative;
        left: 5px !important;
        top: 0px;
        z-index: 999;
        opacity: 1;
    }

    .slick-track {
        width: 100% !important;
    }

    .prev {
        left: 97% !important;
        top: 42% !important;
    }

    .next {
        left: 102% !important;
        top: 42% !important;
    }

    .product-list {
        margin-top: 9% !important;
        width: 30% !important;
        display: none !important;
    }

    .product-nav {
        width: 80% !important;
    }

    .filter {
        padding-left: 17px !important;
    }

    .resultPage-block,
    .container {
        width: 100%;
    }

    .main-block {
        width: 94% !important;
        margin-top: 25px !important;
        padding-right: 20px;
    }

    .card--img {
        img {
            width: 50%;
        }
    }

    .items {
        width: 97% !important;
    }

    .items--card {
        width: 20% !important;
    }

    .main--pagination {
        width: 111% !important;
    }

    .footer {
        width: 97% !important;
        margin-left: 18px !important;
    }
}

// @media(max-width: 1439px) and(min-width: 1024px) {
//     body {
//         width: 1333px;
//     }

//     .slider--content {
//         width: 7%;
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         top: 47%;
//         // right: 84% !important;
//     }

//     .nex,
//     .prev {
//         position: absolute;
//         bottom: 26% !important;
//         height: 40px;
//         width: 25px;
//     }

//     .next {
//         left: 80% !important;
//         top: 58% !important;
//     }

//     .prev {
//         right: 23% !important;
//         top: 58% !important;
//     }

//     .menu {
//         width: 94%;
//     }

//     .menu-container {
//         width: 35% !important;
//     }

//     .product-list {
//         width: 17%;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-end;
//         height: 192px;
//         margin-left: 6%;
//         margin-top: 8% !important;
//     }

//     .div-product {
//         width: 68% !important;
//         text-align: end;
//         margin-bottom: 5%;
//     }

//     .product-list--title {
//         font-size: 27px !important;
//     }

//     .product--list,
//     .product-list--item {
//         font-size: 14px !important;
//     }

//     .product-nav {
//         width: 78% !important;
//     }

//     .filter {
//         margin-left: 7% !important;
//         width: 16% !important;
//     }

//     .main--results {
//         margin-left: 8px;
//     }

//     .items {
//         width: 95%;
//     }

//     .items--card {
//         width: 26% !important;
//     }

//     .btn--card {
//         width: 83% !important;
//     }
// }

/* ===================== Início do css ===================== */

body {
    font-family: $font-standart;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.containerr {
    max-width: 100%;
}

/* ===================== Início do header ===================== */

.header-block {
    position: absolute;
    top: 0%;
}

.header-itens {
    position: fixed;
    width: 100%;
    background-color: $white;
    z-index: 1;
}

.menu-container {
    display: $flex;
    justify-content: $between;
    width: 30%;
}

.menu {
    display: $flex;
    justify-content: $around;
    align-items: center;
    margin-bottom: 25px;

    .menu-submenu--item {
        margin-top: 20px;
        font-family: $font-standart;
        color: #111;
        font-size: 20px;
        letter-spacing: 0.8px;
        line-height: 20px;
        width: 155%;
    }

    a {
        color: $font-color-standart
    }
}

.menu-img {
    z-index: 1;
}


.search-btn,
.location-btn,
.account-icon,
.bag-icon {
    border: none;
    background-color: $white;
    @include button;
}

.icons {
    width: 10%;
    display: $flex;
    justify-content: $around;
    align-items: center;
}

.search-btn,
.icons {
    padding-top: 10px;
}

.logo {
    width: 112px;
    padding-top: 10px;
}

.icon-search {
    font-size: 25px;
}

.icon-user,
.icon-placeholder,
.icon-shopping-bag {
    font-size: 20px;
}

.icon-control {
    font-size: 17px;
    padding-right: 10px;
}

.line--item {
    height: 20px;
    border: 1px solid;
    margin: 0 10px;
}

/* ===================== Início do breadcrumb =====================  */

.div-breadcrumb {
    position: absolute;
    display: $flex;
    justify-content: $around;
    width: 21%;
    margin-bottom: 25px;
}

.breadcrumb {
    display: $flex;
    justify-content: $between;
    width: 50%;
    font-size: 12px;

    a {
        color: $grey;
    }
}

.breadcrumb--line,
.breadcrumb--item {
    padding-right: 3px;
    font-family: $font-standart;
    font-size: 14px;
}

.breadcrumb--item :not(#polos) {
    text-decoration: underline;
}

/* ===================== Início do box polo ===================== */

.product-list--title {
    color: $font-color-standart;
    font-family: $font-standart;
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: $letter-spacing *2;
    line-height: 39px;
}

.product--list {
    color: $font-color-standart;
    font-family: $font-standart;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}

.product-list--item {
    color: $font-color-standart;
    font-family: $font-standart;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}

.product-list {
    width: 26%;
    display: $flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 192px;
    margin-top: 5%;
}

.div-product {
    width: 68%;
    text-align: end;
    margin-bottom: 5%;
}

.product-nav {
    display: $flex;
    width: 97%;
    justify-content: space-evenly;

    >ul>li {
        margin-bottom: 8%;
    }
}

.filter {
    height: 210px;
    width: 17%;
    display: $flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.filter-btn {
    height: 35px;
    width: 250px;
    border-radius: 30px;
    border: 1px solid $thanos;
    outline: none;
    color: $thanos;
    font-family: $font-standart;
    font-size: 14px;
    letter-spacing: 0.93px;
    line-height: 17px;
    background: #FFF;

    img {
        vertical-align: bottom;
    }
}

/* ===================== Início do slick ===================== */

.carousel {
    transform: translate3d(-184px, 0px, 0px);
}

.carousel-img {
    width: 1114px;
}

.slick-list,
.draggable {
    width: 58%;
    float: right;
    height: 400px;
}

.img {
    width: 100%;
    height: 425px;
    outline: none !important;
    transition: 3s linear;
}

.slick-track {
    opacity: 1;
    width: 5570px;
    transform: translate3d(-1114px, 0px, 0px);
}

.slick-dots {
    display: $flex !important;
    top: 360px !important;
    left: 67% !important;
    width: 18% !important;

    li {
        button::before {
            font-family: 'slick';
            font-size: 6px;
            line-height: $line-height;
            position: $position;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            content: none !important;
            text-align: center;
            opacity: .25;
            color: black;
            -webkit-font-smoothing: antialiased;
        }
    }
}

.slick-active {

    #slick-slide-control00,
    #slick-slide-control01 {
        color: transparent;
        border-radius: 100%;
        border: none;
        margin-right: 5px;
        height: 12px;
        width: 1px;
        border: 1px solid $dark-ish-white;
        background: $dark-ish-white;
    }
}

#slick-slide-control00,
#slick-slide-control01 {
    color: transparent;
    border-radius: 100%;
    border: none;
    margin-right: 5px;
    height: 12px;
    width: 1px;
    border: 1px solid #7a7c7f;
    background: #7a7c7f;
}

.slick-dotted.slick-slider {
    margin-bottom: 4% !important;
}

.next,
.prev {
    position: $position;
    bottom: 57%;
    height: 40px;
    width: 25px;
}

.prev {
    right: 15%;
}

.next {
    right: 11%;
}

.slider-second-container {
    height: 399px;
    width: 58%;
    position: absolute;
    left: 621px;
    z-index: 1;
    bottom: 0%;
    background: linear-gradient(to right, #000 39%, rgba(255, 255, 255, 0) 85%);
}

.slider--content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: 0%;
    background: linear-gradient(to right, #000 7%, rgba(255, 255, 255, 0) 106%);

    p {
        color: $dark-ish-white;
        font-family: $font-standart;
        font-size: 20px;
        letter-spacing: 4px;
        line-height: 24px;
        height: 60.57px;
        width: 200px;
        font-weight: bold;
        position: absolute;
        top: 22%;
        left: 4%;
    }

    h5 {
        color: $dark-ish-white;
        font-family: $font-standart;
        font-size: 14px;
        letter-spacing: $letter-spacing;
        line-height: 17px;
        font-weight: lighter;
        margin-top: 8px;
        margin-bottom: 10px;
        height: 45px;
        width: 200px;
        position: absolute;
        top: 39%;
        left: 4%;
    }

    button {
        @include button;
        padding: 0;
        margin-right: 32px;
        margin-top: 20px;
        height: 35px;
        width: 225px;
        border-radius: 30px;
        background-color: $dark-ish-white;
        font-family: $font-standart;
        color: $thanos;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bolder;
        letter-spacing: $letter-spacing;
        line-height: 15px;
        position: absolute;
        top: 55%;
        left: 4%;
    }
}

.sec-slider--container {
    position: $position;
    left: 42%;
    bottom: 21%;
    height: 267px;
    width: 6%;
    z-index: 2;
    background: linear-gradient(to right, #000 -5%, rgba(255, 255, 255, 0) 145%);
    height: 415px;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;

    .sec-slider--content {
        position: absolute;
        top: 23%;
        left: 4%;
    }

    p {
        color: #EEE;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 4px;
        line-height: 25px;
        height: 60.57px;
        width: 200px;
        text-transform: uppercase;
    }

    h5 {
        color: #EEE;
        font-family: Montserrat;
        font-size: 12px;
        letter-spacing: 0.8px;
        line-height: 15px;
        height: 30px;
        width: 200px;
        margin-bottom: 31px;
        margin-top: 18px;
        font-weight: lighter;
    }

    button {
        @include button;
        border-radius: 30px;
        background-color: #EEE;
        height: 35px;
        width: 225px;
        color: #58006D;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 15px;
        text-transform: uppercase;
        margin-top: 19px;
    }
}

/* ===================== Início do main ===================== */

.items {
    display: $flex;
    justify-content: $between;
    width: 100%;
}

.main-block {
    width: 87%;
    margin-left: 85px;
    margin-right: 86px;
    margin-top: 25px;
}

.main--results {
    color: $black;
    font-family: $font-standart;
    font-size: 12px;
    letter-spacing: $letter-spacing;
    line-height: 15px;
    margin-bottom: 15px;
}

.items--card {
    height: 500px;
    width: 312px;

    p {
        color: $black;
        font-family: $font-standart;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        margin-top: 5px;
    }

    .old--price {
        color: $grey;
        font-family: $font-standart;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        text-decoration: line-through
    }

    .new--price {
        color: $thanos;
        font-family: $font-standart;
        font-size: $font-size;
        font-weight: 700;
        line-height: $line-height;
    }
}

.discount {
    margin-left: 2px;
    margin-top: 5px;
}

.card--img {
    position: relative;

    .card {
        position: $position;
        overflow: hidden;
        transition: 200ms linear;
        cursor: pointer;
    }

    .card:hover {
        opacity: 0;
    }
}

.btn--card {
    @include button;
    background: $white;
    padding-left: 0px;
    margin-top: 15px;
    position: $position;
    overflow: hidden;
    opacity: 0;
    height: 35px;
    width: 312px;
    border-radius: 30px;
    border: 1px solid $thanos;
    color: $thanos;
    font-family: $font-standart;
    font-size: 14px;
    line-height: 17px;

}

.items--card:hover {
    .btn--card {
        opacity: 1;
        cursor: pointer;
        transition: 200ms linear;
    }
}

.btn--card:hover,
.filter-btn:hover,
.slider--btn:hover,
.sec-slider--btn:hover {
    opacity: 1;
    cursor: pointer;
    transition: 200ms linear;
    background: $thanos;
    color: $white;
}

.main--pagination {
    height: 39px;
    width: 94%;
    display: $flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;

    ul {
        display: $flex;
        justify-content: $between;
        width: 359px;

        li {
            height: 27px;
            width: 30px;
            background-color: $thanos;
            border-radius: 14px;
            padding-top: 2px;
            text-align: center;

            a {
                color: #EEE;
                font-family: $font-standart;
                font-size: 18px;
                vertical-align: sub;
                font-weight: 700;
            }
        }

        p {
            color: $font-color-standart;
            font-family: $font-standart;
            font-size: 20px;
            align-self: center;
        }
    }
}

.icon-left-arow,
.icon-righ-arow {
    font-size: 30px;
}

/* ===================== Inicio do Footer ===================== */

.footer {
    display: $flex;
    margin-top: 5%;
    height: 422px;
    width: 92%;
    margin-bottom: 10%;
    /* align-items: baseline; */
    margin-left: 5%;
    flex-direction: column
}

.footer--content {
    width: 58%;
}

.promo {
    color: $font-color-standart;
    font-family: $font-standart;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 27px;
}

.newsletter--form {
    height: 45px;
    width: 510px;
    border-radius: 30px;
    background-color: #FFF;
    display: $flex;
    margin-bottom: 5%;
    margin-top: 5%;
}

.email {
    height: 45px;
    width: 510px;
    border-radius: 30px;
    background-color: #FFF;
    border: none;
    color: $grey;
    font-family: $font-standart;
    font-size: 14px;
    font-style: italic;
}

.btn {
    height: 45px;
    width: 155px;
    border-radius: 30px;
    background-color: $thanos;
    border: 1px solid $thanos;
    color: #EEE;
    font-family: $font-standart;
    font-size: $font-size;
    outline: none;
    line-height: 20px;
    font-weight: normal;
}

.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-youtube,
.icon-linkedin {
    color: $thanos;
}

.btn:hover {
    background-color: #ffffff;
    color: $thanos;
}

.social-media--icons {
    height: 26px;
    width: 189px;
    display: $flex;
    justify-content: $between;
    color: $thanos;
    font-size: 25px;
}

.nav--content {
    width: 100%;
    display: flex;
    justify-content: flex-end
}

.footer--nav {
    display: $flex;
    justify-content: $between;
    width: 51%;

    h5 {
        color: $font-color-standart;
        font-family: $font-standart;
        font-size: $font-size;
        font-weight: 700;
    }

    a {
        color: $font-color-standart;
        font-family: $font-standart;
        font-size: 12px;
    }
}

.help {
    @include flex;
    height: 250px;
    width: 192px;
}

.shippment {
    height: 280px;
    width: 315px;
    @include flex;

    .shippment-options {
        height: 112px;
        width: 192px;
        @include flex;
    }
}

.payment {
    height: 113px;
    display: $flex;
    flex-direction: column;
    justify-content: space-evenly
}

.text {
    color: #767676;
    font-family: Montserrat;
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
    margin-top: 10px;
}


.submenu {
    overflow: hidden;
    transition: 200ms linear;
    cursor: pointer;
    position: absolute;
    top: 60%;
    background: white;
    display: flex;
    width: 100%;
    height: 455px;
    justify-content: space-around;
    left: 0%;

    .submenu-content {
        display: flex;
        justify-content: space-around;
        // margin-top: 50px;
        width: 100%;
        height: 44%;
        background-color: $white;
        padding-left: 103px;

        .category {
            height: 17px;
            color: #111;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: bolder;
            line-height: 17px;
            width: 22%;
            margin-top: 50px;
            margin-left: 9%;
            margin-right: 9%;
        }

        .products {
            color: #767676;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-weight: initial;
            letter-spacing: 0.8px;
            line-height: 20px;
            margin-top: 20px;
        }
    }
}




.products--clothes {
    display: flex;
    flex-direction: column;
    height: 329px;
    justify-content: space-between;
    margin-top: 10px;
    width: 155px;
}

.products--sneakers {
    display: flex;
    flex-direction: column;
    height: 53px;
    justify-content: space-between;
    margin-top: 10px;
}

.products--accessories {
    display: flex;
    flex-direction: column;
    height: 155px;
    justify-content: space-between;
    margin-top: 10px;
}

.products--category {
    height: 225px;
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: end;
    width: 345px;

    li {
        margin: 0 5px;
    }
}

.classic,
.slim,
.summer,
.zero {
    box-sizing: border-box;
    height: 35px;
    width: 126px;
    border-radius: 30px;
    background-color: #FFF;
    border: 1px solid #767676;
    padding-top: 7px;
}

.socks {
    box-sizing: border-box;
    height: 35px;
    width: 58px;
    border-radius: 30px;
    background-color: #FFF;
    border: 1px solid #767676;
    padding-top: 7px;
}

.surf {
    box-sizing: border-box;
    height: 35px;
    width: 113px;
    border-radius: 30px;
    background-color: #FFF;
    border: 1px solid #767676;
    padding-top: 7px;
}

.mini {
    box-sizing: border-box;
    height: 35px;
    width: 74px;
    border-radius: 30px;
    background-color: #FFF;
    border: 1px solid #767676;
    padding-top: 7px;
}

.submenu-content,
.submenu {
    display: none;
}

.menu-submenu--item:hover {
    .submenu {
        display: inline-flex;
        height: 1120px;
        background-color: rgba(0, 0, 0, 0.5);
    }

}

.menu-submenu--item>a:after {
    display: block;
    content: '';
    border-bottom: solid 1px $thanos;
    transform: scaleY(0);
    transition: 200ms linear;
    width: 65%;
}

.menu-submenu--item {
    a:hover:after {
        transform: scaleY(4);
    }

    a.fromBottom:after {
        transform-origin: 0 0 0 100%;
    }

}