@charset "UTF-8";
/* ===================== Variaveis ===================== */
/* ===================== Mixins ===================== */
/* ===================== Responsividade ===================== */
@media (min-width: 1440px) and (max-width: 1919px) {
  .header-itens {
    width: 98% !important; }

  .menu {
    width: 100% !important;
    justify-content: space-between !important;
    padding-left: 18px !important; }
    .menu .icons {
      padding-right: 20px; }

  .div-breadcrumb {
    top: 13% !important; }

  .carousel-block {
    width: 110% !important;
    height: 420px !important; }

  .carousel,
  .slick-initialized,
  .slick-slider,
  .slick-dotted {
    width: 112% !important;
    right: 3% !important; }

  .carousel-img,
  .slick-slide,
  .slick-current,
  .slick-active {
    width: 1053px;
    position: relative;
    left: 5px !important;
    top: 0px;
    z-index: 999;
    opacity: 1; }

  .slick-track {
    width: 112% !important; }

  .prev {
    left: 97% !important;
    top: 42% !important; }

  .next {
    left: 102% !important;
    top: 42% !important; }

  .product-list {
    margin-top: 9% !important;
    width: 30% !important; }

  .product-nav {
    width: 80% !important; }

  .filter {
    padding-left: 17px !important; }

  .main-block {
    width: 100% !important;
    margin-left: 19px !important;
    margin-top: 25px !important;
    padding-left: 10px !important; }

  .items {
    width: 110% !important; }

  .items--card {
    width: 20% !important; }

  .main--pagination {
    width: 111% !important; }

  .footer {
    width: 110% !important;
    margin-left: 18px !important; } }
/* ===================== In├¡cio do css ===================== */
body {
  font-family: "Montserrat", sans-serif; }

.containner {
  width: 1440px; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.container {
  width: 100%; }

/* ===================== In├¡cio do header ===================== */
.header-block {
  position: absolute;
  top: 0%; }

.header-itens {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1; }

.menu-container {
  display: flex;
  justify-content: space-between;
  width: 30%; }

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px; }
  .menu .menu-submenu--item {
    margin-top: 20px;
    font-family: "Montserrat", sans-serif; }
  .menu a {
    color: #111; }

.search-btn,
.location-btn,
.account-icon,
.bag-icon {
  border: none;
  background-color: #ffffff;
  border: none;
  outline: none; }

.icons {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.search-btn,
.icons {
  padding-top: 10px; }

.logo {
  width: 112px;
  padding-top: 10px; }

.icon-search {
  font-size: 25px; }

.icon-user,
.icon-placeholder,
.icon-shopping-bag {
  font-size: 20px; }

.icon-control {
  font-size: 17px;
  padding-right: 10px; }

.line--item {
  height: 20px;
  border: 1px solid;
  margin: 0 10px; }

/* ===================== In├¡cio do breadcrumb =====================  */
.div-breadcrumb {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 19%;
  margin-bottom: 25px; }

.breadcrumb {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 12px; }
  .breadcrumb a {
    color: #767676; }

.breadcrumb--line,
.breadcrumb--item {
  padding-right: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px; }

.breadcrumb--item :not(#polos) {
  text-decoration: underline; }

/* ===================== In├¡cio do box polo ===================== */
.product-list--title {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 1.6px;
  line-height: 39px; }

.product--list {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px; }

.product-list--item {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 20px; }

.product-list {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 192px;
  margin-top: 5%; }

.div-product {
  width: 68%;
  text-align: end;
  margin-bottom: 5%; }

.product-nav {
  display: flex;
  width: 97%;
  justify-content: space-evenly; }
  .product-nav > ul > li {
    margin-bottom: 8%; }

.filter {
  height: 210px;
  width: 17%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.filter-btn {
  height: 35px;
  width: 250px;
  border-radius: 30px;
  border: 1px solid #58006d;
  outline: none;
  color: #58006d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.93px;
  line-height: 17px; }
  .filter-btn img {
    vertical-align: bottom; }

/* ===================== In├¡cio do slick ===================== */
.carousel {
  transform: translate3d(-184px, 0px, 0px); }

.carousel-img {
  width: 1114px; }

.slick-list,
.draggable {
  width: 58%;
  float: right;
  height: 400px; }

.img {
  width: 100%;
  height: 425px;
  outline: none !important;
  transition: opacity 3s ease-in-out; }

.slick-track {
  opacity: 1;
  width: 5570px;
  transform: translate3d(-1114px, 0px, 0px); }

.slick-dots {
  display: flex !important;
  top: 360px !important;
  left: 67% !important;
  width: 18% !important; }
  .slick-dots li button::before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: none !important;
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased; }

.slick-active #slick-slide-control00,
.slick-active #slick-slide-control01 {
  color: transparent;
  border-radius: 100%;
  border: none;
  margin-right: 5px;
  height: 12px;
  width: 1px;
  border: 1px solid #eeeeee;
  background: #eeeeee; }

#slick-slide-control00,
#slick-slide-control01 {
  color: transparent;
  border-radius: 100%;
  border: none;
  margin-right: 5px;
  height: 12px;
  width: 1px;
  border: 1px solid #7a7c7f;
  background: #7a7c7f; }

.slick-dotted.slick-slider {
  margin-bottom: 4% !important; }

.next,
.prev {
  position: absolute;
  bottom: 57%;
  height: 40px;
  width: 25px; }

.prev {
  right: 15%; }

.next {
  right: 11%; }

.slider--content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  right: 0%;
  background: linear-gradient(to right, #000 7%, rgba(255, 255, 255, 0) 106%); }
  .slider--content p {
    color: #eeeeee;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 24px;
    height: 60.57px;
    width: 200px;
    font-weight: bold;
    position: absolute;
    top: 22%;
    left: 4%; }
  .slider--content h5 {
    color: #eeeeee;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 17px;
    font-weight: lighter;
    margin-top: 8px;
    margin-bottom: 10px;
    height: 45px;
    width: 200px;
    position: absolute;
    top: 39%;
    left: 4%; }
  .slider--content button {
    border: none;
    outline: none;
    padding: 0;
    margin-right: 32px;
    margin-top: 20px;
    height: 35px;
    width: 225px;
    border-radius: 30px;
    background-color: #eeeeee;
    font-family: "Montserrat", sans-serif;
    color: #58006d;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 0.8px;
    line-height: 15px;
    position: absolute;
    top: 55%;
    left: 4%; }

.sec-slider--container {
  background: linear-gradient(to right, #000 -5%, rgba(255, 255, 255, 0) 145%);
  height: 415px;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%; }
  .sec-slider--container .sec-slider--content {
    position: absolute;
    top: 22%;
    left: 4%; }
  .sec-slider--container p {
    color: #EEE;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 25px;
    height: 60.57px;
    width: 200px;
    text-transform: uppercase; }
  .sec-slider--container h5 {
    color: #EEE;
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 15px;
    height: 30px;
    width: 200px;
    margin-bottom: 31px;
    margin-top: 18px;
    font-weight: lighter; }
  .sec-slider--container button {
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #EEE;
    height: 35px;
    width: 225px;
    color: #58006D;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 13px; }

/* ===================== In├¡cio do main ===================== */
.items {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.main-block {
  width: 87%;
  margin-left: 85px;
  margin-right: 86px;
  margin-top: 25px; }

.main--results {
  color: #111111;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 15px;
  margin-bottom: 15px; }

.items--card {
  height: 500px;
  width: 312px; }
  .items--card p {
    color: #111111;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 5px; }
  .items--card .old--price {
    color: #767676;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: line-through; }
  .items--card .new--price {
    color: #58006d;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; }

.discount {
  margin-left: 2px;
  margin-top: 5px; }

.card--img {
  position: relative; }
  .card--img .card {
    position: absolute;
    overflow: hidden;
    transition: opacity 175ms linear;
    cursor: pointer; }
  .card--img .card:hover {
    opacity: 0; }

.btn--card {
  border: none;
  outline: none;
  background: #ffffff;
  padding-left: 0px;
  margin-top: 15px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  height: 35px;
  width: 312px;
  border-radius: 30px;
  border: 1px solid #58006d;
  color: #58006d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px; }

.items--card:hover .btn--card {
  opacity: 1;
  cursor: pointer;
  transition: opacity 175ms linear; }

.btn--card:hover,
.filter-btn:hover,
.slider--btn:hover,
.sec-slider--btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 175ms linear;
  background: #58006d;
  color: #ffffff; }

.main--pagination {
  height: 39px;
  width: 94%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  align-items: center; }
  .main--pagination ul {
    display: flex;
    justify-content: space-between;
    width: 359px; }
    .main--pagination ul li {
      height: 27px;
      width: 30px;
      background-color: #58006d;
      border-radius: 14px;
      padding-top: 2px;
      text-align: center; }
      .main--pagination ul li a {
        color: #EEE;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        vertical-align: sub;
        font-weight: 700; }
    .main--pagination ul p {
      color: #111;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      align-self: center; }

.icon-left-arow,
.icon-righ-arow {
  font-size: 30px; }

/* ===================== Inicio do Footer ===================== */
.footer {
  display: flex;
  margin-top: 5%;
  height: 422px;
  width: 92%;
  margin-bottom: 10%;
  /* align-items: baseline; */
  margin-left: 5%;
  flex-direction: column; }

.footer--content {
  width: 58%; }

.promo {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 27px; }

.newsletter--form {
  height: 45px;
  width: 510px;
  border-radius: 30px;
  background-color: #FFF;
  display: flex;
  margin-bottom: 5%;
  margin-top: 5%; }

.email {
  height: 45px;
  width: 510px;
  border-radius: 30px;
  background-color: #FFF;
  border: none;
  color: #767676;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: italic; }

.btn {
  height: 45px;
  width: 155px;
  border-radius: 30px;
  background-color: #58006d;
  border: 1px solid #58006d;
  color: #EEE;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  line-height: 20px;
  font-weight: normal; }

.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-youtube,
.icon-linkedin {
  color: #58006d; }

.btn:hover {
  background-color: #ffffff;
  color: #58006d; }

.social-media--icons {
  height: 26px;
  width: 189px;
  display: flex;
  justify-content: space-between;
  color: #58006d;
  font-size: 25px; }

.nav--content {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.footer--nav {
  display: flex;
  justify-content: space-between;
  width: 51%; }
  .footer--nav h5 {
    color: #111;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700; }
  .footer--nav a {
    color: #111;
    font-family: "Montserrat", sans-serif;
    font-size: 12px; }

.help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 192px; }

.shippment {
  height: 280px;
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .shippment .shippment-options {
    height: 112px;
    width: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.payment {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.text {
  color: #767676;
  font-family: Montserrat;
  font-size: 14px;
  font-style: italic;
  line-height: 17px;
  margin-top: 10px; }

/*# sourceMappingURL=main.css.map */
