/* ===================== Início do slick ===================== */

.carousel__block {
    display: $flex;
    place-items: flex-end;
    width: 92% !important;
    height: 360px !important;
    position: $position;
}

.container__carousel {
    width: 100%;
    height: 274px;
}

.slick-list,
.draggable {
    width: 56% !important;
    height: 427px !important;
    float: right !important;
}

.carousel {
    transform: translate3d(-126px, 0px, 0px);
}

.carousel--img {
    width: 1114px;
}

.img {
    width: 100%;
    height: 425px;
    outline: none !important;
    transition: 3s linear;
}

.slick-track {
    opacity: 1;
    width: 5570px;
    transform: translate3d(-1114px, 0px, 0px);
}

.slick-dots {
    display: $flex !important;
    top: 385px !important;
    left: 68% !important;
    width: 18% !important;

    li {
        button::before {
            font-family: 'slick';
            font-size: 6px;
            line-height: $line-height;
            position: $position;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            content: none !important;
            text-align: center;
            opacity: .25;
            color: black;
            -webkit-font-smoothing: antialiased;
        }
    }
}

.slick-active {

    #slick-slide-control00,
    #slick-slide-control01 {
        color: transparent;
        border-radius: 100%;
        border: none;
        margin-right: 5px;
        height: 12px;
        width: 1px;
        border: 1px solid $dark-ish-white;
        background: $dark-ish-white;
    }
}

#slick-slide-control00,
#slick-slide-control01 {
    color: transparent;
    border-radius: 100%;
    border: none;
    margin-right: 5px;
    height: 12px;
    width: 1px;
    border: 1px solid #7a7c7f;
    background: #7a7c7f;
}

.slick-dotted.slick-slider {
    margin-bottom: 4% !important;
}

.icon-left-arow,
.icon-righ-arow {
    display: $flex;
    justify-content: flex-end;
    position: $position;
    top: 447px;
    color: $white;
    font-size: 35px;
}

.icon-left-arow {
    left: 85%;
}

.icon-righ-arow {
    left: 89%;
}

.sec-slider--content {
    width: 100%;
    height: 100%;
    display: $flex;
    flex-direction: column;
    position: $position;
    top: 0%;
    right: 0%;
    background: linear-gradient(to right, #000 7%, rgba(255, 255, 255, 0) 106%);

    p {
        color: $dark-ish-white;
        font-family: $font-standart;
        font-size: 20px;
        letter-spacing: 4px;
        line-height: 24px;
        height: 60.57px;
        width: 200px;
        font-weight: bold;
        position: $position;
        top: 25%;
        left: 4%;
        text-transform: uppercase;
    }

    h5 {
        color: $dark-ish-white;
        font-family: $font-standart;
        font-size: 14px;
        letter-spacing: $letter-spacing;
        line-height: 17px;
        font-weight: lighter;
        margin-top: 8px;
        margin-bottom: 10px;
        height: 45px;
        width: 200px;
        position: $position;
        top: 41%;
        left: 4%;
    }

    button {
        @include button;
        padding: 0;
        margin-right: 32px;
        margin-top: 20px;
        height: 35px;
        width: 225px;
        border: none;
        border-radius: 30px;
        background-color: $dark-ish-white;
        font-family: $font-standart;
        color: $thanos;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bolder;
        letter-spacing: $letter-spacing;
        line-height: 15px;
        position: $position;
        top: 57%;
        left: 4%;
    }
}

.first__slider {
    position: $position;
    left: 42%;
    bottom: 21%;
    z-index: 2;
    background: linear-gradient(to right, #000 -5%, rgba(255, 255, 255, 0) 145%);
    height: 425px;
    width: 100%;
    position: $position;
    left: 0%;
    top: 0%;

    .slider__content {
        position: $position;
        top: 25%;
        left: 4%;
    }

    p {
        color: $dark-ish-white;
        font-family: $font-standart;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 4px;
        line-height: 25px;
        height: 60.57px;
        width: 200px;
        text-transform: uppercase;
    }

    h5 {
        color: $dark-ish-white;
        font-family: $font-standart;
        font-size: 12px;
        letter-spacing: $letter-spacing;
        line-height: 15px;
        height: 30px;
        width: 200px;
        margin-bottom: 31px;
        margin-top: 15px;
        font-weight: lighter;
    }

    button {
        @include button;
        border-radius: 30px;
        background-color: $dark-ish-white;
        height: 35px;
        width: 225px;
        color: $thanos;
        font-family: $font-standart;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: $letter-spacing;
        line-height: 15px;
        text-transform: uppercase;
        margin-top: 19px;
    }
}