/* ===================== Variaveis ===================== */

$font-color-standart: #111;
$font-standart: 'Montserrat',
sans-serif;
$font-size: 16px;
$letter-spacing: (0.8px);
$line-height: 20px;
$flex: flex;
$around: space-around;
$between: space-between;
$dark-ish-white: #eeeeee;
$white: #ffffff;
$grey: #767676;
$grey-ish: #cdcdcd;
$black: #111111;
$thanos: #58006d;
$position: absolute;